<a href="https://colab.research.google.com/github/rayviswajeet/Iris-Flowers-Classification-ML/blob/main/Iris_Species_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Iris Flowers Classification ML Project

In [1]:
# importing all libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

**Reading the Datasets**

In [5]:
df= pd.read_csv("https://raw.githubusercontent.com/rayviswajeet/Iris-Flowers-Classification-ML/main/Iris.csv")
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

**Dividing the dataset into Features and Target**

In [6]:
x = df.copy()
x = x.drop('Species',axis=1)
y = df.Species

**Dividing the dataset into training and validation sets**

In [7]:
xtrain, xvalid, ytrain, yvalid = train_test_split(x,y,test_size=0.2, random_state=0, shuffle=True)

**Defining training model and train the dataset**

In [8]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=42)
model.fit(xtrain, ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

**Predicting the Target using our validation set**

In [10]:
pred = model.predict(xvalid)

**Comparing the Predicted Species with the Actual ones**

In [11]:
compare = pd.DataFrame({'Actual Values':yvalid,'Predicted Values':preds})
print(compare.shape)
compare

(30, 2)

       Actual Values Predicted Values
114   Iris-virginica   Iris-virginica
62   Iris-versicolor  Iris-versicolor
33       Iris-setosa      Iris-setosa
107   Iris-virginica   Iris-virginica
7        Iris-setosa      Iris-setosa
100   Iris-virginica   Iris-virginica
40       Iris-setosa      Iris-setosa
86   Iris-versicolor  Iris-versicolor
76   Iris-versicolor  Iris-versicolor
71   Iris-versicolor  Iris-versicolor
134   Iris-virginica   Iris-virginica
51   Iris-versicolor  Iris-versicolor
73   Iris-versicolor  Iris-versicolor
54   Iris-versicolor  Iris-versicolor
63   Iris-versicolor  Iris-versicolor
37       Iris-setosa      Iris-setosa
78   Iris-versicolor  Iris-versicolor
90   Iris-versicolor  Iris-versicolor
45       Iris-setosa      Iris-setosa
16       Iris-setosa      Iris-setosa
121   Iris-virginica   Iris-virginica
66   Iris-versicolor  Iris-versicolor
24       Iris-setosa      Iris-setosa
8        Iris-setosa      Iris-setosa
126   Iris-virginica   Iris-virginica
22       Iris-setosa      Iris-setosa
44       Iris-setosa      Iris-setosa
97   Iris-versicolor  Iris-versicolor
93   Iris-versicolor  Iris-versicolor
26       Iris-setosa      Iris-setosa

**Calculating the accuracy of our model**

In [12]:
accuracy_score(yvalid,pred)

1.0

*Submitted By:* Viswajeet Ray